h1 {
    color: brown;
}

.sectionHeader {
    color: aqua; background: #111111;
    width: 100%;
    max-width: 700px;
}

.bodyHeader{
    background: #ececec;
}
.classHeader{
    color: blue;
    font-size: 30px;
    margin-bottom: 32px;
    }
.about {
  
}
.paragraph {
    padding: 0 0 0 8px;
}
.main {
    width: 100%;
    max-width: 700px;
    margin: 32px auto;
    padding-top: 50px;
}
.footer {
    width: 100%;
    max-width: 700px;
    margin: 32px auto;
    padding-bottom: 10px;
   


}
.box{
    width: 100px;
    height: 100px;
    background: chartreuse;
    padding: 10px;
    border: 10px solid red;
    box-sizing: border-box;
    position: absolute;
    top: 20px;
    right: 50%;
}
.top {
    position: fixed;
    bottom: 25px;
    right: 10px;
    padding-top: 20px;
    
}
.navigation {
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    top: 0;
    left: 0;
    padding: 5px;
}