h1 {
    color: brown;
}
.mainHeader {
    color: aqua; background: #111111;
   font-size: 64px;
}
.sectionHeader {
    color: aqua; background: #111111;
}

.bodyHeader{
    background: #ececec;
}
.classHeader{
    color: blue;
    font-size: 50px;
}